@page "/pets/delete"
@using Microsoft.EntityFrameworkCore
@using PawPal.Domain
@inject IDbContextFactory<PawPal.Data.PawPalContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>Pet</h2>
    <hr />
    @if (pet is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">ShelterId</dt>
            <dd class="col-sm-10">@pet.ShelterId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@pet.Name</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Species</dt>
            <dd class="col-sm-10">@pet.Species</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Breed</dt>
            <dd class="col-sm-10">@pet.Breed</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Age</dt>
            <dd class="col-sm-10">@pet.Age</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Size</dt>
            <dd class="col-sm-10">@pet.Size</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Gender</dt>
            <dd class="col-sm-10">@pet.Gender</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Temperament</dt>
            <dd class="col-sm-10">@pet.Temperament</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">MedicalInfo</dt>
            <dd class="col-sm-10">@pet.MedicalInfo</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@pet.Description</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Status</dt>
            <dd class="col-sm-10">@pet.Status</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@pet.DateCreated</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@pet.DateUpdated</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@pet.CreatedBy</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@pet.UpdatedBy</dd>
        </dl>
        <EditForm method="post" Model="pet" OnValidSubmit="DeletePet" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(pet is null)">Delete</button> |
            <a href="/pets">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Pet? pet;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        pet = await context.Pet.FirstOrDefaultAsync(m => m.Id == Id);

        if (pet is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeletePet()
    {
        using var context = DbFactory.CreateDbContext();
        context.Pet.Remove(pet!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/pets");
    }
}
