@page "/shelters/details"
@using Microsoft.EntityFrameworkCore
@using PawPal.Domain
@inject IDbContextFactory<PawPal.Data.PawPalContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Shelter</h2>
    <hr />
    @if (shelter is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">ShelterName</dt>
            <dd class="col-sm-10">@shelter.ShelterName</dd>
            <dt class="col-sm-2">Address</dt>
            <dd class="col-sm-10">@shelter.Address</dd>
            <dt class="col-sm-2">PhoneNumber</dt>
            <dd class="col-sm-10">@shelter.PhoneNumber</dd>
            <dt class="col-sm-2">Email</dt>
            <dd class="col-sm-10">@shelter.Email</dd>
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@shelter.DateCreated</dd>
            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@shelter.DateUpdated</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@shelter.CreatedBy</dd>
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@shelter.UpdatedBy</dd>
        </dl>
        <div>
            <a href="@($"/shelters/edit?id={shelter.Id}")">Edit</a> |
            <a href="@($"/shelters")">Back to List</a>
        </div>
    }
</div>

@code {
    private Shelter? shelter;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        shelter = await context.Shelter.FirstOrDefaultAsync(m => m.Id == Id);

        if (shelter is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
